@using Blazorise.TreeView
@using Ididit.Data.Model.Models

<CheckBox Checked="Settings.ShowAllTasks" CheckedChanged="OnShowAllTasksChanged">@Localizer["Show all tasks"]</CheckBox>

@if (!Settings.ShowAllTasks)
{
    <CheckBox Checked="Settings.HideEmptyGoals" CheckedChanged="OnHideEmptyGoalsChanged">@Localizer["Hide goals with no tasks"]</CheckBox>

    <CheckBox Checked="Settings.HideGoalsWithSimpleText" CheckedChanged="OnHideGoalsWithSimpleText">@Localizer["Hide goals with simple text"]</CheckBox>

    <CheckBox Checked="Settings.ShowAllGoals" CheckedChanged="OnShowAllGoalsChanged">@Localizer["Show all goals"]</CheckBox>

    if (Settings.ShowAllGoals)
    {
        <CheckBox Checked="Settings.ShowCategoriesInGoalList" CheckedChanged="OnShowCategoriesInGoalListChanged">@Localizer["Show categories in goal list"]</CheckBox>
    }

    <Button Color=Color.Primary Size="Size" Block=true Margin=Margin.Is2.FromTop @onclick=NewCategory>@Localizer["Add category to"] @SelectedCategory.Name</Button>

    <Addons Size=Size.Small Display="Display.Flex" Flex=Flex.NoWrap Margin=Margin.Is2.OnY>
        <Addon AddonType="AddonType.Start" Flex="Flex.Grow.Is1">
            <AddonLabel Flex="Flex.Grow.Is1">@Localizer["Categories"]:</AddonLabel>
        </Addon>

        <Button Color=Color.Primary Outline=true Size=Size.Small @onclick=ToggleAll>@Localizer["Toggle all"]</Button>
    </Addons>

    <TreeView Margin=Margin.Is0.Is2.FromTop
              TNode="CategoryModel"
              Nodes=Repository.CategoryList
              GetChildNodes="GetChildNodes"
              HasChildNodes="HasChildNodes"
              SelectedNode=SelectedCategory
              SelectedNodeChanged="OnSelectedCategoryChanged"
              NodeStyling="NodeStyling"
              SelectedNodeStyling="SelectedNodeStyling"
              @bind-ExpandedNodes=_expandedNodes>
        <NodeContent>
            @if (context == SelectedCategory)
            {
                <CategoryComponent Category=context CategoryChanged="async (category) => { context = category; await OnCategoryChanged(category); }" @bind-EditCategory=_editCategory />
            }
            else
            {
                @context?.Name
            }
        </NodeContent>
    </TreeView>
}
