@if (editCategory && Category != null)
{
    <div class="input-group flex-nowrap">
        <TextEdit Size="@Theme.Size" @bind-Text="@Category.Name" Placeholder="Add new category" />
        <div class="input-group-append">
            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=SaveCategory><span class="fa fa-fw fa-save"></span></Button>
            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=CancelEdit><span class="fa fa-fw fa-times"></span></Button>
        </div>
    </div>
}
else
{
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=NewCategory><span class="fa fa-fw fa-plus"></span></Button>
        </div>

        <TextEdit Size="@Theme.Size" Text="@Category?.Name" ReadOnly=true />

        <div class="input-group-append">
            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=EditCategory><span class="fa fa-fw fa-edit"></span></Button>

            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=DeleteCategory><span class="fas fa-fw fa-trash-alt"></span></Button>
        </div>
    </div>
}