@if (editName && Goal != null)
{
    <div class="input-group flex-nowrap">
        <TextEdit Size="@Theme.Size" @bind-Text="@Goal.Name" Placeholder="Add new category" />
        <div class="input-group-append">
            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=SaveName><Icon Name="IconName.Save" /></Button>
            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=CancelEdit><Icon Name="IconName.Times" /></Button>
        </div>
    </div>
}
else
{
    <div class="input-group flex-nowrap">
        <TextEdit Size="@Theme.Size" Text="@Goal?.Name" ReadOnly=true />

        <div class="input-group-append">
            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=EditName><Icon Name="IconName.Edit" /></Button>

            <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick=DeleteGoal><Icon Name="IconName.Delete" /></Button>
        </div>
    </div>
}