@using Ididit.Data

<Addons Flex=Flex.NoWrap>
    <TextEdit Size="Size" Text="@_searchFilter" TextChanged="SearchFilterChanged" Placeholder="@Localizer["Search"]" />

    <Addon AddonType="AddonType.End">
        <Button Color="Color.Primary" Outline="true" Size="Size" @onclick="ClearSearchFilter"><Icon Class="fa-fw" Name="IconName.Times" /></Button>
    </Addon>
</Addons>

<Check TValue="bool" Checked="_ignoreSearchCase" CheckedChanged="IgnoreSearchCaseChanged">@Localizer["Ignore case"]</Check>

@if (IsPersonalComputer)
{
    <Field Margin=Margin.Is0.Is2.FromTop>
        <Check TValue="bool" Checked="Settings.ShowAdvancedInput" CheckedChanged="OnShowAdvancedInputChanged">@Localizer["Show advanced input"]</Check>
    </Field>
}

<Field Margin=Margin.Is0.Is2.FromTop>
    <FieldLabel Margin=Margin.Is0>@Localizer["Show tasks completed on"]:</FieldLabel>

    <Addons Flex=Flex.NoWrap>
        <DateEdit TValue="DateTime?" Size="Size" Date="_dateFilter" DateChanged="OnDateChanged" />

        <Addon AddonType="AddonType.End">
            <Button Color="Color.Primary" Outline="true" Size="Size" @onclick="ClearDateFilter"><Icon Class="fa-fw" Name="IconName.Times" /></Button>
        </Addon>
    </Addons>

    <Check TValue="bool" Checked="IsTodayChecked" CheckedChanged="TodayCheckedChanged">@Localizer["Today"]</Check>
</Field>

<Field Margin=Margin.Is0.Is2.FromTop>
    <Check TValue="bool" Checked="Settings.HideCompletedTasks" CheckedChanged="OnHideCompletedTasksChanged">@Localizer["Hide completed tasks"]</Check>
</Field>

<Field Margin=Margin.Is0.Is2.FromTop>
    <FieldLabel Margin=Margin.Is0>
        <Check TValue="bool" Checked="Settings.ShowElapsedToDesiredRatioOverMin" CheckedChanged="OnShowElapsedToDesiredRatioOverMinChanged">@Localizer["Show tasks with ratio over"] @Settings.ElapsedToDesiredRatioMin %</Check>
    </FieldLabel>
    <Slider Size="Size" Class="custom-range" TValue="long" Min="0" Max="100" Step="5" Value="Settings.ElapsedToDesiredRatioMin" ValueChanged="OnElapsedToDesiredRatioMinChanged" />
</Field>

<Field Margin=Margin.Is0.Is2.FromTop>
    <FieldLabel Margin=Margin.Is0>@Localizer["Filter by priority"]:</FieldLabel>

    @foreach (Priority priority in Enum.GetValues<Priority>())
    {
        <Check TValue="bool" Checked="GetShowPriority(priority)" CheckedChanged="(show) => OnShowPriorityChanged(priority, show)">@Localizer[priority.GetDescription()]</Check>
    }
</Field>

<Field Margin=Margin.Is0.Is2.FromTop>
    <FieldLabel Margin=Margin.Is0>@Localizer["Filter by type"]:</FieldLabel>

    @foreach (TaskKind taskKind in Enum.GetValues<TaskKind>())
    {
        <Check TValue="bool" Checked="GetShowTaskKind(taskKind)" CheckedChanged="(show) => OnShowTaskKindChanged(taskKind, show)">@Localizer[taskKind.GetDescription()]</Check>
    }
</Field>

<Field Margin=Margin.Is0.Is2.FromTop>
    <FieldLabel Margin=Margin.Is0>@Localizer["Sort tasks by"]:</FieldLabel>

    @if (IsApple)
    {
        <select class="form-select" value="@Settings.Sort" @onchange="OnSortChangeEvent">
            @foreach (Sort sort in Enum.GetValues<Sort>())
            {
                <option value="@sort">@Localizer[sort.GetDescription()]</option>
            }
        </select>
    }
    else
    {
        <Select TValue="Sort" Size="Size" SelectedValue="Settings.Sort" SelectedValueChanged="OnSortChanged">
            @foreach (Sort sort in Enum.GetValues<Sort>())
            {
                <SelectItem Value="sort">@Localizer[sort.GetDescription()]</SelectItem>
            }
        </Select>
    }
</Field>

<Field Margin=Margin.Is0.Is2.FromTop>
    <Check TValue="bool" Checked="Settings.SortGoalsByName" CheckedChanged="OnSortGoalsByNameChanged">@Localizer["Sort goals by name"]</Check>
</Field>