@using Ididit.Data.Model.Models

@if (Goal is not null)
{
    IList<TaskModel> tasks = Filters.FilterAndSortTasks(Goal.TaskList, Settings);

    @if (tasks.Any() || !Settings.HideEmptyGoals)
    {
        <Card Margin=Margin.Is2.FromTop Border=CardBorder>
            <CardBody Padding=Padding.Is0>

                @if (EditEnabled)
                {
                    <Addons Flex=Flex.NoWrap>
                        <TextEdit @ref=_nameEdit Class="shadow-none" Border=Border.RoundedZero.Is0 Style="margin-right:1px" Size="Size" @bind-Text="@_goalName" KeyUp=KeyUp @onmousedown=OnEditNameFocusIn FocusOut=OnEditNameFocusOut Placeholder="@Localizer["Add new goal"]" />
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Primary" Outline="true" Border=Border.RoundedZero Size="Size" @onclick=SaveNameAndEndEdit><Icon Class="fa-fw" Name="IconName.Save" /></Button>
                            @*<Button Color="Color.Primary" Outline="true" Size="Size" @onclick=CancelEdit><Icon Class="fa-fw" Name="IconName.Times" /></Button>*@
                        </Addon>
                    </Addons>

                    @if (!Settings.SelectLineWithCaret && string.IsNullOrEmpty(Filters.SearchFilter))
                    {
                        <MemoEdit @ref="_detailsEdit" Class="shadow-none" AutoSize="!Settings.ShowAdvancedInput" Text="@Goal.Details" Rows="@Goal.Rows" Margin=Margin.Is0 Padding=Padding.Is1 Border=Border.RoundedZero.Is0 @onmousedown=OnEditDetailsFocusIn FocusOut=OnEditDetailsFocusOut TextChanged=OnTextChanged />
                    }
                    else
                    {
                        <Div class="hwt-container">
                            <Div class="hwt-backdrop" Position="Position.Absolute" Width=Width.Is100>
                                <Div class="hwt-highlights form-control" Margin=Margin.Is0 Padding=Padding.Is1 Border=Border.RoundedZero.Is0>
                                    @if (!string.IsNullOrEmpty(Filters.SearchFilter))
                                    {
                                        @((MarkupString)MarkSearchResults(Goal.Details))
                                    }
                                    else
                                    {
                                        @((MarkupString)MarkCurrentLine(Goal.Details))
                                    }
                                </Div>
                            </Div>
                            <MemoEdit @ref="_detailsEdit" Class="shadow-none hwt-textarea" Position="Position.Relative" AutoSize="!Settings.ShowAdvancedInput" Text="@Goal.Details" Rows="@Goal.Rows" Margin=Margin.Is0 Padding=Padding.Is1 Border=Border.RoundedZero.Is0 @onmousedown=OnEditDetailsFocusIn @onkeyup="OnKeyUp" @onmouseup="OnMouseUp" FocusOut=OnEditDetailsFocusOut TextChanged=OnTextChanged />
                        </Div>
                    }
                }
                else
                {
                    <Addons Flex=Flex.NoWrap>
                        <TextEdit Border=Border.RoundedZero.Is0 Size="Size" Text="@Goal.Name" ReadOnly=true @onclick=OnClick />

                        <Addon AddonType="AddonType.End">
                            @if (!Goal.DisplayAsMarkdown)
                            {
                                <Button Color="Color.Primary" Outline="!Goal.CreateTaskFromEachLine" Size="Size" @onclick=ToggleCreateTaskFromEachLine><i class="fas fa-fw fa-tasks"></i></Button>
                            }
                            @if (!Goal.CreateTaskFromEachLine)
                            {
                                <Button Color="Color.Primary" Outline="!Goal.DisplayAsMarkdown" Size="Size" @onclick=ToggleDisplayAsMarkdown><i class="fab fa-fw fa-markdown"></i></Button>
                            }
                            <Button Color="Color.Primary" Outline="true" Size="Size" @onclick=SelectAndEditNameGoal><Icon Class="fa-fw" Name="IconName.Edit" /></Button>
                            <Button Color="Color.Primary" Outline="true" Size="Size" Border=Border.RoundedZero @onclick=DeleteGoal><Icon Class="fa-fw" Name="IconName.Delete" /></Button>
                        </Addon>
                    </Addons>

                    @if (Goal.CreateTaskFromEachLine)
                    {
                        @foreach (TaskModel task in tasks)
                        {
                            @if (task.MarkdownHtml is null)
                            {
                                <TaskComponent @key=task Task=task @bind-SelectedTask=_selectedTask />
                            }
                            else
                            {
                                <!-- set margin in Markdown HTML -->
                                <Div Class="child-block-margin" Border=Border.Is1.RoundedZero Padding=Padding.Is1>
                                    @((MarkupString)task.MarkdownHtml)
                                </Div>
                            }

                            @if (!string.IsNullOrEmpty(task.DetailsText))
                            {
                                <!-- set margin in Markdown HTML -->
                                <Div Class="child-block-margin" Border=Border.Is1.RoundedZero Padding=Padding.Is1>
                                    @((MarkupString)task.DetailsMarkdownHtml)
                                </Div>
                            }
                        }
                    }
                    else if (!Settings.HideGoalsWithSimpleText)
                    {
                        if (Goal.DisplayAsMarkdown)
                        {
                            <!-- set margin in Markdown HTML -->
                            <Div Class="child-block-margin" Border=Border.Is1.RoundedZero Padding=Padding.Is1>
                                @if (string.IsNullOrEmpty(Filters.SearchFilter))
                                {
                                    @((MarkupString)Goal.DetailsMarkdownHtml)
                                }
                                else
                                {
                                    @((MarkupString)MarkSearchResultsInHtml(Goal.DetailsMarkdownHtml))
                                }
                            </Div>
                        }
                        else
                        {
                            <Div Style="white-space: pre;" Border=Border.Is1.RoundedZero Padding=Padding.Is1>
                                @if (string.IsNullOrEmpty(Filters.SearchFilter))
                                {
                                    @(Goal.Details)
                                }
                                else
                                {
                                    @(MarkSearchResultsInHtml(Goal.Details))
                                }
                            </Div>
                        }
                    }
                }

            </CardBody>
        </Card>
    }
}
