@using Ididit.Data.Models

@if (Goal != null)
{
    IList<TaskModel> tasks = Filters.FilterTasks(Goal.TaskList);

    @if (tasks.Any() || !Filters.HideEmptyGoals)
    {
    <Card Margin=Margin.Is2.FromTop Border=Border.Is0>
        <CardBody Padding=Padding.Is0 Class="overlay-parent">
            <div @onclick=SelectGoal>
                <EditGoalComponent @bind-Goal=Goal EditGoal=EditGoal EditGoalChanged=EditGoalChanged />
            </div>

            @if (SelectedGoal == Goal)
            {
                <Div Class="overlay"></Div>
                <MemoEdit Class="overlay-content" @ref=_memoEdit AutoSize Text="@Goal.Details" Rows="@Goal.Rows" Margin=Margin.Is0 Padding=Padding.Is1 Border=Border.Is0 FocusOut=OnFocusOut TextChanged=OnTextChanged />
            }
            else
            {
                if (Goal.CreateTaskFromEachLine)
                {
                    <Div Class="child-no-margin">
                        @foreach (TaskModel task in tasks)
                        {
                            @if (task.MarkdownHtml is null)
                            {
                                <TaskComponent @key=task Task=task @bind-SelectedTask=_selectedTask />
                            }
                            else
                            {
                                @((MarkupString)task.MarkdownHtml)
                            }

                            @if (!string.IsNullOrEmpty(task.Details))
                            {
                                @((MarkupString)task.DetailsMarkdownHtml)
                            }
                        }
                    </Div>
                }
                else
                {
                    <Div Class="child-no-margin" Padding=Padding.Is1>
                        @((MarkupString)Goal.DetailsMarkdownHtml)
                    </Div>
                }
            }
        </CardBody>
    </Card>
    }
}
