@*@page "/help"*@

<Div Display=Display.Flex>
    <h4 class="d-inline-block">@Localizer["Help"]</h4>
    <Button Class="shadow-none" Margin=Margin.Is0.OnY.IsAuto.FromStart Padding=Padding.Is0 @onclick="ShowMainScreen">
        <Icon Class="fa-fw" Name="IconName.Times" />
    </Button>
</Div>

<h6><i class="fas fa-fw fa-tasks"></i> @Localizer["Tasks"]</h6>
<p>@Localizer["This icon creates tasks from notes"]</p>

<h6><i class="fab fa-fw fa-markdown"></i> @Localizer["Markdown"]</h6>
<p>@Localizer["This icon displays notes as Markdown"]</p>

<h6><Icon Class="fa-fw" Name="IconName.Bars" /> @Localizer["Menu"]</h6>
<p>@Localizer["This icon toggles the main menu"]</p>

<h6><Icon Class="fa-fw" Name="IconName.Wrench" /> @Localizer["Options"]</h6>
<p>@Localizer["This icon toggles the options menu"]</p>

<h6><Icon Class="fa-fw" Name="IconName.Save" /> @Localizer["Save"]</h6>
<p>@Localizer["This icon saves changes"]</p>

<h6><Icon Class="fa-fw" Name="IconName.QuestionCircle" /> @Localizer["Help"]</h6>
<p>@Localizer["This icon toggles the help screen"]</p>

<h6><Icon Class="fa-fw" Name="IconName.InfoCircle" /> @Localizer["About"]</h6>
<p>@Localizer["This icon toggles the about screen"]</p>

<h6><Icon Class="fa-fw" Name="IconName.Times" /> @Localizer["Clear"]</h6>
<p>@Localizer["This icon clears"]</p>

<h6><Icon Class="fa-fw" Name="IconName.Edit" /> @Localizer["Edit"]</h6>
<p>@Localizer["This icon lets you edit"]</p>

<h6><Icon Class="fa-fw" Name="IconName.Delete" /> @Localizer["Delete"]</h6>
<p>@Localizer["This icon deletes"]</p>

<h6><Icon Class="fa-fw" Name="IconName.Play" /> @Localizer["Start"]</h6>
<p>@Localizer["This icon starts timing the task"]</p>

<h6><Icon Class="fa-fw" Name="IconName.Check" /> @Localizer["Done"]</h6>
<p>@Localizer["This icon marks the task as done"]</p>

<h6><Icon Class="fa-fw" Name="IconName.History" /> @Localizer["History"]</h6>
<p>@Localizer["This icon shows the task history"]</p>

<h6><i class="fas fa-fw my-auto fa-angle-double-down"></i> @Localizer["Very low priority"]</h6>
<p>@Localizer["This icon indicates a very low task priority"]</p>

<h6><i class="fas fa-fw my-auto fa-angle-down"></i> @Localizer["Low priority"]</h6>
<p>@Localizer["This icon indicates a low task priority"]</p>

<h6><i class="fas fa-fw my-auto fa-minus"></i> @Localizer["Medium priority"]</h6>
<p>@Localizer["This icon indicates a medium task priority"]</p>

<h6><i class="fas fa-fw my-auto fa-angle-up"></i> @Localizer["High priority"]</h6>
<p>@Localizer["This icon indicates a high task priority"]</p>

<h6><i class="fas fa-fw my-auto fa-angle-double-up"></i> @Localizer["Very high priority"]</h6>
<p>@Localizer["This icon indicates a very high task priority"]</p>
