@*@page "/options"*@

@using Ididit.Backup
@using Microsoft.AspNetCore.Components.Forms

<Card Margin=Margin.Is0.OnMobile.Is2.OnDesktop Padding=Padding.Is0 Style="max-width: 414px">
    <CardBody Padding=Padding.Is1>

        <Button Color=Color.Primary Size="Size" Block=true @onclick=LoadExamples>Load examples</Button>

        <Button Color=Color.Primary Size="Size" Block=true @onclick=DeleteAll>Delete all</Button>

        <Button Color=Color.Primary Size="Size" Block=true @onclick=ResetSettings>Reset settings</Button>

        <Field Margin=Margin.Is0.Is2.FromTop>
            <FieldLabel Margin=Margin.Is0>@Localizer["Language"]:</FieldLabel>

            @if (IsApple)
            {
                <select class="form-select" value="@Repository.Settings.Culture" @onchange="OnCultureChangeEvent">
                    <option value="en">English</option>
                    <option value="de">German</option>
                    <option value="sl">Slovenian</option>
                </select>
            }
            else
            {
                <Select TValue="string" Size="Size" SelectedValue="Repository.Settings.Culture" SelectedValueChanged="OnCultureChanged">
                    <SelectItem Value="@("en")">English</SelectItem>
                    <SelectItem Value="@("de")">German</SelectItem>
                    <SelectItem Value="@("sl")">Slovenian</SelectItem>
                </Select>
            }
        </Field>

        <Field Margin=Margin.Is0.Is2.FromTop>
            <FieldLabel Margin=Margin.Is0>Size:</FieldLabel>

            @if (IsApple)
            {
                <select class="form-select" value="@Size" @onchange="OnSizeChangeEvent">
                    <option value="@Blazorise.Size.Default">Default</option>
                    <option value="@Blazorise.Size.Small">Small</option>
                    <option value="@Blazorise.Size.Medium">Medium</option>
                    <option value="@Blazorise.Size.Large">Large</option>
                </select>
            }
            else
            {
                <Select TValue="Size" Size="Size" SelectedValue="Size" SelectedValueChanged="OnSizeChanged">
                    <SelectItem Value="Blazorise.Size.Default">Default</SelectItem>
                    @*<SelectItem Value="Blazorise.Size.ExtraSmall">Extra small</SelectItem>*@
                    <SelectItem Value="Blazorise.Size.Small">Small</SelectItem>
                    <SelectItem Value="Blazorise.Size.Medium">Medium</SelectItem>
                    <SelectItem Value="Blazorise.Size.Large">Large</SelectItem>
                    @*<SelectItem Value="Blazorise.Size.ExtraLarge">Extra large</SelectItem>*@
                </Select>
            }
        </Field>

        <Field Margin=Margin.Is0.Is2.FromTop>
            <FieldLabel Margin=Margin.Is0>Theme:</FieldLabel>

            @if (IsApple)
            {
                <select class="form-select" value="@Theme" @onchange="OnThemeChangeEvent">
                    <option value="default">default</option>
                    @foreach (string theme in Themes)
                    {
                        <option value="@theme">@theme</option>
                    }
                </select>
            }
            else
            {
                <Select TValue="string" Size="Size" SelectedValue="Theme" SelectedValueChanged="OnThemeChanged">
                    <SelectItem Value="@("default")">default</SelectItem>
                    @foreach (string theme in Themes)
                    {
                        <SelectItem Value="theme">@theme</SelectItem>
                    }
                </Select>
            }
        </Field>

        <Field Margin=Margin.Is0.Is2.FromTop>
            <FieldLabel Margin=Margin.Is0>Background:</FieldLabel>

            @if (IsApple)
            {
                <select class="form-select" value="@Background" @onchange="OnBackgroundChangeEvent">
                    <option value="Default">Default</option>
                    @foreach (string background in Backgrounds)
                    {
                        <option value="@background">@background</option>
                    }
                </select>
            }
            else
            {
                <Select TValue="string" Size="Size" SelectedValue="Background" SelectedValueChanged="OnBackgroundChanged">
                    @foreach (string background in Backgrounds)
                    {
                        <SelectItem Value="background">@background</SelectItem>
                    }
                </Select>
            }
        </Field>

        @if (IsPersonalComputer)
        {
        <Label For="JSON-upload" Display=Display.Block Margin=Margin.Is2.FromTop class="btn btn-primary">Import JSON</Label>
        <InputFile id="JSON-upload" class="d-none" OnChange=Import />

        <Button Color=Color.Primary Size="Size" Block=true @onclick="async () => await ExportData(DataFormat.Json)">Export JSON</Button>

        <Label For="YAML-upload" Display=Display.Block Margin=Margin.Is2.FromTop class="btn btn-primary">Import YAML</Label>
        <InputFile id="YAML-upload" class="d-none" OnChange=Import />

        <Button Color=Color.Primary Size="Size" Block=true @onclick="async () => await ExportData(DataFormat.Yaml)">Export YAML</Button>

        <Label For="TSV-upload" Display=Display.Block Margin=Margin.Is2.FromTop class="btn btn-primary">Import TSV</Label>
        <InputFile id="TSV-upload" class="d-none" OnChange=Import />

        <Button Color=Color.Primary Size="Size" Block=true @onclick="async () => await ExportData(DataFormat.Tsv)">Export TSV</Button>

        <Label For="Markdown-upload" Display=Display.Block Margin=Margin.Is2.FromTop class="btn btn-primary">Import Markdown</Label>
        @*<InputFile id="Markdown-upload" class="d-none" webkitdirectory directory multiple OnChange=ImportMarkdown />*@
        <InputFile id="Markdown-upload" class="d-none" OnChange=Import />

        <Button Color=Color.Primary Size="Size" Block=true @onclick="async () => await ExportData(DataFormat.Markdown)">Export Markdown</Button>

        <Button Color=Color.Primary Size="Size" Block=true @onclick=ImportDirectory>Import folder</Button>

        <Button Color=Color.Primary Size="Size" Block=true @onclick="async () => await ExportData(DataFormat.Directory)">Export folder</Button>

        @if (Backup.Online.GoogleDriveBase.IsGoogleDriveAvailable)
        {
            <Button Color=Color.Primary Size="Size" Block=true @onclick=ImportGoogleDrive>Import Google Drive</Button>

            <Button Color=Color.Primary Size="Size" Block=true @onclick="async () => await ExportData(DataFormat.GoogleDrive)">Export Google Drive</Button>
        }

        <Label For="ZIP-upload" Display=Display.Block Margin=Margin.Is2.FromTop class="btn btn-primary">Import Google Keep Takeout ZIP</Label>
        <InputFile id="ZIP-upload" class="d-none" OnChange=Import />
        }

    </CardBody>
</Card>
