@if (IsApple)
{
    <select class="form-select" value="@Repository.Settings.Culture" @onchange="OnCultureChangeEvent">
        @foreach (var pair in _cultures)
        {
            <option value="@pair.Value.TwoLetterISOLanguageName">@pair.Key</option>
        }
    </select>
}
else
{
    <Select TValue="string" Size="Size" SelectedValue="Repository.Settings.Culture" SelectedValueChanged="OnCultureChanged">
        @foreach (var pair in _cultures)
        {
            <SelectItem Value="@pair.Value.TwoLetterISOLanguageName">@pair.Key</SelectItem>
        }
    </Select>
}